*{
    margin: 0px;
    color:#cde1f9;
}

.form-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: #14213d;
}

.form-container {
    width: 50%;
    margin: 20px;
    padding: 20px;
    background-color: #e0dede27;
    border: 1px solid #110c5682;
    backdrop-filter: blur(20%);
    border-radius: 12px;
}

fieldset {
    border: none;
}


.inp {
    background: transparent;
    border: none;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 25px;
    width: 95%;
    font-size: large;
}

.date{
    font-size: medium;
    display: flex;
    justify-content: space-between;
}

input[type="date"]{
    border: none;
    outline: none;
    width: 40%;
    background: transparent;
}

input:focus,
textarea:focus,
select:focus {
    outline: none
}

.submit-btn{
    background: transparent;
    font-size: 1.3rem;
    display: block;
    margin: auto;
    height: 40px;
    width: 70%;
    box-shadow: 1px 1px 40px rgba(1, 21, 61, 0.644);
    border: none;
    border-radius: 4px;
    padding: 6px;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: #182541;;
}

h2 {
    text-align: center;
}

@media only screen and (max-width:750px){

    .form-section{
        height: 100vh;
        width: 100vw;
    }

    .form-container {
        height: 68%;
        width: 66%;
    }
}